.hero {
  padding-bottom: 110px;
  color: $text-color;
  background-image: url(../../../img/about-first\ disk.svg);
  background-repeat: no-repeat;
  background-position: calc(50% + 750px) 95px;
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.line {
  width: 50px;
  height: 4px;
  display: block;
  background: #79C8C7;
}

.hero-heading {
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 100px;
}

.span-wrapper {
  display: block;
}

.span-wrapper span {
  color: #F67E7E;
}

.hero-content {
  width: 100%;
  max-width: 730px;
  display: flex;
  flex-direction: column;
}

.hero-text {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  margin-top: 40px;
}

.hero-img-wrapper {
  display: flex;
}

.hero-logo-disk {
  position: relative;
  left: -250px;
  bottom: 200px;
  width: 200px;
  height: 200px;
}

.hero-logo-disk-scond {
  position: relative;
  width: 358px;
  height: 200px;
  top: 160px;
  left: 450px;
  z-index: -1;
}

@include mediaDevices(768px) {
  .hero {
    padding-bottom: 60px;
    color: $text-color;
    background-image: url(../../../img/about-first\ disk.svg);
    background-repeat: no-repeat;
    background-position: calc(50% + 362px) 202px;
  }
  
  .hero-container {
    display:  block;
    align-items: center;
    justify-content: space-between;
  }

  .line {
    width: 50px;
    height: 4px;
    display: none;
    background: #79C8C7;
  }
  
  .hero-heading {
    font-style: normal;
    font-weight: 700;
    text-align: center;
    font-size: 64px;
    line-height: 100px;
  }
  
  .span-wrapper {
    display: block;
  }
  
  .span-wrapper span {
    color: #F67E7E;
  }
  
  .hero-content {
    width: 100%;
    max-width: 457px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .hero-text {
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 28px;
    text-align: center;
  }
  
  .hero-img-wrapper {
    display: flex;
  }
  
  .hero-logo-disk {
    position: relative;
    left: -250px;
    bottom: 200px;
    width: 200px;
    height: 200px;
  }
  
  .hero-logo-disk-scond {
    position: relative;
    width: 358px;
    height: 200px;
    top: 160px;
    left: 450px;
    z-index: -1;
  }
}